s {
  color: gray; }

.top-section {
  height: 90vh;
  background-color: rgba(53, 53, 53, 0.555);
  position: relative;
  background-image: url("../img/cover.jpg");
  background-attachment: fixed;
  background-size: cover; }
  .top-section .btn-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 3rem; }
    .top-section .btn-container i {
      font-size: 3rem; }
  .top-section .absolute-left-bottom {
    position: absolute;
    left: 15%;
    bottom: 10%;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 25px; }
  .top-section article {
    width: 40%; }

.nav-container i {
  font-size: 2rem; }

.nav-container img {
  height: 80px;
  width: 80px; }

.three-pic-container .three-pic-row {
  height: 60vh; }

.three-pic-container .item-container {
  background-color: #f1f1f1; }

.three-pic-container .img-container {
  position: relative; }

.three-pic-container .sale-container {
  position: absolute;
  top: 10%;
  right: 5px; }

.comments-section {
  position: relative;
  background-attachment: fixed; }
  .comments-section .btn-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0; }
    .comments-section .btn-container i {
      font-size: 2rem; }

footer {
  background-image: url(../img/footer-bg.png);
  background-attachment: fixed; }
  footer a {
    text-decoration: none;
    font-size: 3rem;
    margin-right: 20px;
    color: antiquewhite;
    vertical-align: center; }
  footer .row {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center; }

.items-section .img-container {
  position: relative;
  min-height: 525px; }

.items-section .sale-container {
  position: absolute;
  top: 10%;
  right: 5px; }
