// Main Sass File

s {
    color: gray; // sale prekems spava ruda
}

//  TOP SECTION START  ******************************************** -->
 .top-section {
    height: 90vh;
    background-color: rgba(53, 53, 53, 0.555);
    position: relative;

    background-image: url("../img/cover.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    .btn-container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        
    }
    .absolute-left-bottom {
        position: absolute;
        left: 15%;
        bottom: 10%;

    }
    article {
        width: 40%;
    }
 }

 //  TOP SECTION END  *****************************************

 //  NAV SECTION START  *****************************************
.nav-container {

    img {
        height: 80px;
        width: 80px;
    }

} 
 //  NAV SECTION END  *****************************************

//  THREE PIC SECTION START  ************************************
.three-pic-container{
    // height: 1500px;

    .three-pic-row {
        height: 60vh;
       
    }

    
    .item-container {
        background-color: rgb(241, 241, 241);
    }
    
    .img-container {
        position: relative;
        // border: 1px solid black;
       
    }
    .sale-container {
        position: absolute;
        top: 10%;
        right: 5px;
    }
    
}
// THREE PIC SECTION end  ************************************

// PICTURE GRID HEADLINE SECTION START  *******************

//PICTURE GRID HEADLINE SECTION END  *********************




// Review sec START
.comments-section {
    position: relative;
    .btn-container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        
    }
}


// Revview sec END

// Footer

footer {
    
    .row {
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        height: 40vh;
    }
}
