// Main Sass File

//roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900&subset=greek-ext');


//font-family: 'Roboto', sans-serif;

$main_font: 'Roboto', sans-serif;

body {
    font-family: $main_font;
}



// index php
.height-20v {
    height: 20vh;
}

.div-row {
    width: 50%;
    border-top: 2px solid rgb(131, 131, 131);
}



